[Unit]
Description=Tomcat User Service

[Service]
WorkingDirectory=%h/tomcat
Environment="PATH=/usr/local/bin:/usr/bin:/bin"
Environment="JAVA_HOME=/usr/lib/jvm/java-11-openjdk-amd64"
Environment="JAVA_OPTS=-Xms256M -Xmx512M"
ExecStart=%h/tomcat/bin/catalina.sh run
Restart=always
PrivateTmp=true
NoNewPrivileges=true
MemoryAccounting=true
CPUAccounting=true
MemoryHigh=768K
MemoryMax=1024K
StandardOutput=%h/tomcat/logs/system.log
StandardError=inherit

[Install]
WantedBy=default.target
